.app {
  padding: space(large) 0;

  &__chart,
  &__table {
    margin-top: space(xxlarge);
  }

  &__message {
    display: block;
    margin-top: space(large);
    font-size: font-size(xxlarge);
  }
}
