.app {
  padding: space(large) 0;

  &__chart,
  &__table {
    margin-top: space(xxlarge);
  }

  &__header {
    position: relative;

    font-family: "Varela Round", sans-serif;
    font-size: font-size(huge);

    &:after {
      position: absolute;

      width: 100%;
      height: 5px;

      background-color: color(light, light);
      border-radius: 5px;
      content: "";
    }
  }
}
