.chart {
  &__labels {
    display: flex;
    justify-content: center;
    margin: {
      top: space(medium);
      left: -(space(medium));
    }

    font-family: "Roboto Mono", monospace;
  }

  &__label {
    flex-shrink: 1;
    width: 23px;

    font-size: font-size(small);
    color: color(light, darker);

    transform: rotate(-45deg);
  }
}
