.search-bar {
  width: 100%;
  background-color: transparent;

  font-size: font-size(large);
  color: color(light, light);
  text-transform: uppercase;
  outline: none;

  &__wrapper {
    position: relative;

    font-family: "Varela Round", sans-serif;

    &:after {
      position: absolute;
      top: 130%;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: color(light, light);
      border-radius: 5px;
      content: "";
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    padding: space(xsmall);
    background-color: color(dark, light);
    border-radius: border-radius(pill);

    font-size: font-size(base);
    color: color(light, dark);
  }

  @include media(desktop) {
    font-size: font-size(huge);

    &__wrapper {
      &:after {
        top: 110%;
        height: 5px;
      }
    }

    &__button {
      padding: space(small);
    }
  }
}
