$colors: (
  light: (
    base: #fff,
    light: #e8eaed,
    dark: #bdc1c6,
    darker: #757575,
  ),
  dark: (
    base: #000,
    darker: #171717,
    dark: #202124,
    light: #303134,
  ),
  language: (
    angular: #dd0031,
    javascript: #f8dc3e,
    react: #61dafb,
  ),
);

@function color($color, $mod: base) {
  $color-palette: map-get($colors, $color);

  @if $color-palette == null {
    @error '(#{$color}) does not exist on $colors';
  }

  @if type-of($color-palette) == map {
    $color-mod: map-get($color-palette, $mod);

    @if $color-mod == null {
      @error '(#{$color}, #{$mod}) does not exist on $colors';
    }

    @return $color-mod;
  }

  @return $color-palette;
}
