@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$sizes: (
  small: 12,
  base: 16,
  large: 20,
  xlarge: 24,
  xxlarge: 28,
);

@function font-size($size) {
  @return #{map-get($sizes, $size)}px;
}
