<div class="app container">
  <header class="app__header">
    <app-search-bar (onSearch)="search($event)"></app-search-bar>
  </header>

  <span *ngIf="!!message" class="message">
    {{ message }}
  </span>

  <div class="app__chart">
    <app-stock-chart
      [metaCurrency]="metaCurrency"
      [setItems]="items"
    ></app-stock-chart>
  </div>

  <div class="app__table">
    <app-stock-table
      [metaCurrency]="metaCurrency"
      [setItems]="items"
    ></app-stock-table>
  </div>
</div>
