table {
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

tbody {
  tr {
    &:nth-child(odd) {
      color: color(light, dark);
    }
  }
}

tr {
  border-bottom: 1px solid color(dark, light);
}

th,
td {
  padding: space(base) 0;

  + th,
  + td {
    padding-left: space(medium);
  }
}
